.idea/
__pycache__/
.DS_Store

survey_data/
old_files/
gt_video_check/
results/

*.spv
.venv
ibro*
clustering.py
extract_tables_from_spss.py
GT_video_checking.py

parafac_experiments.ipynb
parfac_model_gt.py